<div class="navbar">
  <div class="navbar-inner">
	<a class="brand">Spacefreeze</a>
	<div class="nav pull-right">
		<a class="btn btn-primary"  id="log_in" role="button" >Log In</a>
		<a class="btn btn-success"  id="sign_up" role="button" >Sign Up</a>
		<a class="btn btn-warning"  id="list_my_space" role="button" >List My Space</a>			 					
	</div>
  </div>
</div>

<div>
	<input type="text" data-provide="typeahead" id="space_search"><a class="btn btn-info"  role="button" id='search_text'>Search<i class="icon-search"></i></a>
</div>

<div class="row-fluid">
	<div class="span10 offset2">
		<ul class="nav nav-tabs">
			<li class="pull-right"><a href="#about_us_tab" id="about_us_link" data-toggle="tab">About us <i class="icon-info-sign"></i></a></li>
			<li class="pull-right"><a href="#how_it_works_tab" id="how_it_works_link" data-toggle="tab">How it works <i class="icon-exclamation-sign"></i></a></li>
		</ul>
		<div class="tab-content row-fluid" >
			<div class="tab-pane active" id="home_image_tab">	
					<%= image_tag("250.jpg") %>
					<h2 id="carouseltext"> Space for cats </h2>		
			</div>
			
			<div class="tab-pane" id="how_it_works_tab">
			<p>	It works wonders by finding a space anytime, anywhere. </p>			
			</div>
		
			<div class="tab-pane" id="about_us_tab">
				<p>We are the new freeze. </p>
			</div>
		</div>				

	</div>
</div>
		