<div class="navbar">
  <div class="navbar-inner">
	<a class="brand">Spacefreeze</a>
	<div class="nav pull-right">
		<%= image_tag("esther.png", :id => "avatar") %>
		<b>Esther</b>
		<a class="btn btn-warning"  id="list_my_space" role="button" >List your space</a>			 					
	</div>
  </div>
</div>



<div class="row-fluid">
	<div class="span10 offset1">
		<div class ="center_img">	
		<%= image_tag("center.png") %>
		</div>
		
		<footer class="footer">
			<table class="table table-footer"  align="center">
				<thead>
					<tr>
						<th>Spacefreeze</th>
						<th>  </th>
						<th> </th>	
						<th>  </th>	
						<th class="align_right"><small>About Us</small></th>	
						<th class="align_right"><small>Settings</small></th>	
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= image_tag("fb.png") %></td>
						<td>  </td>
						<td>  </td>
						<td>  </td>
						<td class="align_right"><small>Our Team</small></td>
						<td class="align_right"><small>Terms</small></td>
					</tr>
					<tr>
						<td><%= image_tag("twitter.png") %></td>
						<td>  </td>
						<td>  </td>
						<td>  </td>
						<td class="align_right"><small>Our Story</small></td>
						<td class="align_right"><small>Privacy</small></td>
					</tr>
				</tbody>
			</table>	
		<p><small>C 2013 Spacefreeze Inc.</small></p>
		</footer>
	</div>
</div>
